<strong>Olá</strong>
<p>Obrigado por fazer parte da nossa plataforma! Seguem os seus dados de acesso</p>

<p>
  Usuário: {{data_email.email}}
  
</p>
<p>Senha: {{data_email.password}}</p>
{{!-- <p><strong>Endereço de entrega:</strong> {{ recipient_address }}</p> --}}


